<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= csrf_meta_tag() %>

    <%= live_title_tag(assigns[:page_title] || "Altbee", suffix: " · Altbee") %>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" crossorigin="anonymous" />
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />

    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
    <meta name="theme-color" content="#6875f5" />

    <meta name="description" content="The alternative Beeminder web interface" />

    <script
      defer
      async
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body class="min-h-screen antialiased text-gray-900">
    <main>
      <%= @inner_content %>
    </main>
  </body>
</html>
