<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tag() %>

    <%= live_title_tag assigns[:page_title] || "Altbee", suffix: " · Altbee" %>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" crossorigin="anonymous">
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <link rel="manifest" href="/manifest.webmanifest">

    <script defer async phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="text-gray-900 antialiased min-h-screen">
    <main>
      <%= @inner_content %>
    </main>
  </body>
</html>
