@import "../node_modules/spinkit/spinkit.css";

@tailwind base;
@tailwind components;

@layer base {
  body {
    @apply bg-gray-100;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.02' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");

    touch-action: manipulation;
  }
}

@tailwind utilities;

.drag-ghost {
  @apply shadow-lg bg-teal-50 opacity-60;
}

[x-cloak] {
  display: none;
}
